img {
  margin-left: 70px;

}

h3 {
  font-family: sans-serif;
  font-size: 12px;
  font-style: italic;
  margin-left: 120px;
  }

.rrss {

margin-left: 50px;
}
ul {
  margin-left: 100px;
}

.mapa-salidas-llegadas{
margin-left: 120px;
}
.muertes {
  margin-left:320px;
  width: 650px;
  height: 60px,
}

.tableauaños{
margin-left: 320px;
  width: 650px;
  height: 60px,


}
.tableaumeses{
margin-left: 320px;
  width: 650px;
  height: 60px,

}
.timeline{
margin-left: 120px;
}
p, h2 {
font-family: sans-serif;
font-size: 16px;
font-style: normal;
margin-left: 130px;
margin-right: 170px;

}
